<!DOCTYPE html>

<html>

<head>
    <title>student record</title>

<lin rel ='stylesheet' href="/home/niyas/New Folder/main.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
  
<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Fixed navbar -->
  <div class="navbar navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="70" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Student Record</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home">Home</a></li>
          <li><a href="/rec">view</a></li>
          <li><a href="/sef">search</a></li>
          <li><a href="/stud">add</a></li>
          <li><a href="/logout">logout</a></li>
          
          
           

            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Student Records with marks and grades</h1>
    </div>
    <p class="lead">student records are used to enter details and perform search and delete operations in it  with <code>name</code> with <code>marks</code> and<code>grades</code>
    <p>Back to <a href="../sticky-footer">powered </a> by @niyas.</p>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p><a href="http://github.com/niyaspkd">github</a> and <a href="http://bootniyas.wordpress.com">my blog</a>.</p>
  </div>
</div>






  


    
<div align = 'center'>





</div>
</div>
 
</div>
  </div><!-- /.container-








<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>





