<html>
<head>
<title> search </title>

<lin rel ='stylesheet' href="/home/niyas/New Folder/main.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Fixed navbar -->
  <div class="navbar navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="70" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Student Record</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/rec">view</a></li>
          <li><a href="/ser1">search</a></li>
 
          
           

            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
<div class = 'container'>
<div align ='center'>  
<form method="post" action='/ser1'>
search<input type='text' name='search'>
<input type='submit'>
</div>
</div>



<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 <script text="javascript">
document.body.style.backgroundImage="url('static/images.jpeg')";
 </script>
  


</body>
</form>
</html>

